.Header{
    height: 400px !important;
    width: 100%;
    background-color:rgba(159, 44, 214, 1) !important; 
    border-bottom-right-radius: 80px;
    color: whitesmoke;
    font-weight: bold;
}

.illus{
    float: right;
    margin-right: 100px;
    position: inherit;
    padding-bottom: 120px;
}