@import url('https://fonts.googleapis.com/css2?family=Montserrat');
.App {
  text-align: center;
  font-family: 'Montserrat';
}
.navbox{
  background-color: transparent;
}
.navlist{
  margin-left: 65%;
}
.profileimg {
  margin: 10px !important;
}
.activated{
  color:"#ce93d8" !important;
}
